@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto");
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

:root {
  --black: #212121;
  --dark-gray: #252525;
  --light-gray: #a1a1a1;
  --white: #ffffff;
  --accent: #fbd68a;
  --offset: #63717f;
  --danger: #c9302c;
  --spotify: #1ed760;
  --apple-music: linear-gradient(to bottom right, #fa57c1, #b166cc, #7572ff, #69a6f9);
  --soundcloud: #ff5500;
  --youtube: #ff0000;
  --facebook: #3b5998;
  --twitter: #1da1f2;
  --instagram: #c32aa3;
  --fire: #ff9900;
  --rate: #1dcaff;
  --song-primary: #1f1f1f;
  --song-secondary: #1d1d1d;
  --checkbox: #2f2f2f;
  --title-bar: #353535;
  --dirty-white: #dddddd;
}

/* -------------------------------------------------
---------------------- Resets ----------------------
---------------------------------------------------- */
body {
  overflow: hidden;
  font-family: Poppins;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

input,
button,
input:active,
button:active,
input:focus,
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

.fa:hover, .fab:hover, .fas:hover, svg:hover {
  cursor: pointer;
}

hr {
  width: 75vw;
  border: 1px solid #2f2f2f;
}

/* -------------------------------------------------
---------------------- Colors ----------------------
---------------------------------------------------- */
.fg-black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.fg-dark-gray {
  color: var(--dark-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.fg-light-gray {
  color: var(--light-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.fg-white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.fg-accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}

.fg-offset {
  color: var(--offset);
}

.bg-offset {
  background-color: var(--offset);
}

.fg-danger {
  color: var(--danger);
}

.bg-danger {
  background-color: var(--danger);
}

.fg-spotify {
  color: var(--spotify);
}

.bg-spotify {
  background-color: var(--spotify);
}

.fg-apple-music {
  height: 16px;
  background: var(--apple-music);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-apple-music {
  background-color: var(--apple-music);
}

.fg-soundcloud {
  color: var(--soundcloud);
}

.bg-soundcloud {
  background-color: var(--soundcloud);
}

.fg-youtube {
  color: var(--youtube);
}

.bg-youtube {
  background-color: var(--youtube);
}

.fg-facebook {
  color: var(--facebook);
}

.bg-facebook {
  background-color: var(--facebook);
}

.fg-twitter {
  color: var(--twitter);
}

.bg-twitter {
  background-color: var(--twitter);
}

.fg-instagram {
  color: var(--instagram);
}

.bg-instagram {
  background-color: var(--instagram);
}

.fg-fire {
  color: var(--fire);
}

.bg-fire {
  background-color: var(--fire);
}

.fg-rate {
  color: var(--rate);
}

.bg-rate {
  background-color: var(--rate);
}

.fg-song-primary {
  color: var(--song-primary);
}

.bg-song-primary {
  background-color: var(--song-primary);
}

.fg-song-secondary {
  color: var(--song-secondary);
}

.bg-song-secondary {
  background-color: var(--song-secondary);
}

.fg-checkbox {
  color: var(--checkbox);
}

.bg-checkbox {
  background-color: var(--checkbox);
}

.fg-title-bar {
  color: var(--title-bar);
}

.bg-title-bar {
  background-color: var(--title-bar);
}

.fg-dirty-white {
  color: var(--dirty-white);
}

.bg-dirty-white {
  background-color: var(--dirty-white);
}

/* -------------------------------------------------
---------------------- Fonts -----------------------
---------------------------------------------------- */
.font-Poppins {
  font-family: Poppins;
}

.font-Roboto {
  font-family: Roboto;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.text-small {
  font-size: .875rem;
}

.text-smaller {
  font-size: .75rem;
}

.text-tiny {
  font-size: .625rem;
}

.text-spaced {
  letter-spacing: 2px;
}

.text-spaced-accent {
  transition: 500ms;
}

.text-spaced-accent:hover {
  letter-spacing: 2px;
  color: var(--accent);
}

/* -------------------------------------------------
----------------------- Logo -----------------------
---------------------------------------------------- */
.main-logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
}

@keyframes float {
  0% {
    transform: translateY(0px)
  }

  50% {
    transform: translateY(-15px)
  }

  100% {
    transform: translateY(0px)
  }
}

/* -------------------------------------------------
---------------------- Buttons ---------------------
---------------------------------------------------- */
.btn {
  border-radius: 0;
  border: 2px solid;
  display: inline-block;
  background: transparent;
  padding: .375rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: Poppins;
  text-transform: uppercase;
  transition: 500ms;
}

.btn-accent {
  color: var(--accent);
  border-color: var(--accent);
}

.btn-accent:hover {
  color: var(--black);
  background: var(--accent);
  border-color: var(--accent);
}

.btn-white {
  color: var(--white);
  border-color: var(--white);
}

.btn-white:hover {
  color: var(--black);
  background: var(--white);
  border-color: var(--white);
}

.btn-danger {
  color: var(--danger);
  border-color: var(--danger);
}

.btn-danger:hover {
  color: var(--black);
  background: var(--danger);
  border-color: var(--danger);
}

.btn-spotify {
  color: var(--spotify);
  border-color: var(--spotify);
}

.btn-spotify:hover {
  color: var(--black);
  background: var(--spotify);
  border-color: var(--spotify);
}

.btn-soundcloud {
  color: var(--soundcloud);
  border-color: var(--soundcloud);
}

.btn-soundcloud:hover {
  color: var(--white);
  background: var(--soundcloud);
  border-color: var(--soundcloud);
}

.btn-apple-music {
  color: var(--dirty-white);
  border-image: var(--apple-music);
  border-image-slice: 1;
}

.btn-apple-music:hover {
  color: var(--black);
  border-image: none;
  background: var(--apple-music);
  border-color: var(--dirty-white);
}

/* -------------------------------------------------
----------------------- Input ----------------------
---------------------------------------------------- */
.input-container {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.input-bar {
  height: 50px;
  width: 300px;
  font-size: .875rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 5px;
  padding-left: 3em;
}

.input-bar::placeholder {
  color: var(--offset);
  text-align: left !important;
}

.input-bar-icon {
  position: relative;
  left: 2rem;
  z-index: 1;
  color: var(--offset);
}

.input-line {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--light-gray);
  transition: 500ms;
}

.input-line:active, .input-line:focus {
  border-bottom: 1px solid var(--accent);
}

.input-checkbox {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none !important;
}

.input-checkbox:checked::before {
  left: 6.75px;
  position: absolute;
  font-size: 12.5px;
  content: '\02143';
  transform: rotate(40deg);
}

.input-checkbox~label {
  bottom: 5px;
  position: relative;
  color: var(--light-gray);
  display: inline-flex;
  cursor: pointer;
  padding-left: 5px;
}

/* -------------------------------------------------
------------------- Line Height --------------------
---------------------------------------------------- */
.line-height-normal {
  line-height: normal;
}

.line-height-tall {
  line-height: 2.5;
}

/* -------------------------------------------------
----------------------- Song -----------------------
---------------------------------------------------- */
.song {
  width: 100%;
  min-width: 415px;
  max-width: 475px;
  height: 5rem !important;
}

.song:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 200ms ease-out;
  letter-spacing: .5px;
}

.share>* {
  padding: 5px;
}

/* -------------------------------------------------
----------------------- Glow -----------------------
---------------------------------------------------- */
.text-glow {
  text-shadow: 0 0 20px;
}

.text-glow-hover {
  transition: 500ms;
}

.text-glow-hover:hover {
  text-shadow: 0 0 20px;
}

.glow {
  filter: drop-shadow(0 0 5px);
}

.glow-hover {
  transition: 500ms;
}

.glow-hover:hover {
  filter: drop-shadow(0 0 5px);
}

/* -------------------------------------------------
---------------------- Scroll ----------------------
---------------------------------------------------- */
.scrolling-container {
  height: 60vh;
  overflow: hidden;
}

.scrolling-container-inner {
  cursor: -webkit-grab;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.scrolling-container-inner--dragging {
  transition: none;
  user-select: none;
  cursor: -webkit-grabbing;
}

/* -------------------------------------------------
--------------------- Title bar --------------------
---------------------------------------------------- */
#title-bar {
  top: 0;
  z-index: 1;
  position: fixed;
  -webkit-app-region: drag;
}

#title-bar-left button,
#title-bar-right button {
  border: none;
  padding: none;
  color: var(--white);
  -webkit-app-region: no-drag;
  background-color: transparent;
}

#title-bar-left button:hover,
#title-bar-right button:hover {
  background-color: var(--title-bar);
}

/* -------------------------------------------------
----------------------- Other ----------------------
---------------------------------------------------- */
.push-from-top {
  padding-top: 150px;
}

.settings-footer {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

div.col-6.text-center {
  height: 40px;
}